$main-color: #f58e4c;
$primary-color: #e9485e;
$secondary-color: #f5b74c;
$white: #ffffff;
$black: #404040;

$tabletWidth: 768px;
$desktopWidth: 1024px;

$mobileHeight: 480px;
$smallTabletHeight: 640px;
$tabletHeight: 768px;

$indent: 20px;
