@import "common/normalize";
@import "common/variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: inherit;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  line-height: 26px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  text-transform: lowercase;
  background: $white;
}

h1 {
  margin: 40px 0;
  text-align: center;
}
main {
  display: block;
  width: 100%;
  padding: 20px;
}

.grid {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-auto-rows: 340px;
}

.grid-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background: #efefef;

  &:not(.loaded) {
    background: #efefef url('../img/loader.gif') no-repeat center;
    background-size: 130px auto;
  }

  & img {
    display: block;
    width: 100%;
    opacity: 0;
    transition: all .1s ease;
    transform: scale(1.1);
  }

  &.loaded img {
    opacity: 1;
    transform: scale(1);
  }
}